.devises {
  $item-height: 160px;
  $container-paddingTop-base: 16px;
  $container-paddingTop-768: 24px;

  margin-top: 24px;

  @media (min-width: 320px) {}

  @media (min-width: 768px) {
    margin-top: 32px;
  }

  @media (min-width: 988px) {}

  @media (min-width: 1120px) {}

  @media (min-width: 1440px) {
    margin-top: 50px;
  }

  &__swiper-container {
    width: 100%;
    box-sizing: border-box;
  }

  &__swiper-wrapper {
    padding-top: $container-paddingTop-base;
    box-sizing: border-box;

    @media (min-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 24px;
    }
  }

  &__item {
    box-sizing: border-box;
    width: max-content;

    &:not(:first-of-type) {
      @media (max-width: 767px) {
        margin-left: 16px;
      }
    }
    &:nth-of-type(n+4) {
      @media (min-width: 768px) and (max-width: 927px) {
        display: none;
      }
    }
    &:nth-of-type(n+4) {
      @media (min-width: 1120px) and (max-width: 1292px) {
        display: none;
      }
    }
    &--visible {
      display: block !important;
    }
    @media (min-width: 768px) {
      margin-bottom: 16px;
    }

  }

  &__side {
    position: absolute;
    width: 24px;
    height: $item-height;
    margin-top: $container-paddingTop-base;
    box-sizing: border-box;
    z-index: 10;

    @media (min-width: 768px) {
      margin-top: $container-paddingTop-768;
    }

    &--left {
      background: linear-gradient(to left, transparent 10%, $main-background 80%);
      left: 0;
    }

    &--right {
      background: linear-gradient(to right, transparent 10%, $main-background 80%);
      right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: $item-height;
    font-size: 30px;
    font-family: TTLakes;
    color: rgb(163, 43, 43);
    text-decoration: none;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 16px;
    // margin-right: 16px;
    box-sizing: border-box;
    transition: .2s;

    @media (min-width: 768px) {
      width: 224px;
    }

    @media (min-width: 1120px) {
      width: 240px;
    }

    &:hover,
    &:focus {
      border-color: rgba(110, 110, 110, 0.5);
    }

  }

  &__title-item {
    align-self: start;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: 0;
  }

  &__icon {
    display: none;
  }

  &__arrow {
    align-self: flex-end;
    min-width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background: url(../img/arrow.svg) no-repeat 54%;
  }

  &__swiper-pagination {
    position: static;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 16px 6px 0 !important;
      background: #B5B6BC;
    }
  }

  &__expand-btn {
    display: none;
    font-size: 16px;
    font-family: TTLakes;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-top: 8px;
    padding-left: 32px;
    background: url(../img/expand-down.svg) no-repeat;
    box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0);
    border-radius: 3px;
    border: 1px solid transparent;
    transition: .3s;

    @media (min-width: 768px) {
      display: block;
    }

    &--hidden {
      background: url(../img/expand-up.svg) no-repeat;
    }

    &:hover,
    &:focus {
      border-top-color: $slide-menu-btn-color;
    }
  }
}
