.footer {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: $section-border;
  opacity: 0.72;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__p {
    flex: 1;

    &--1 {
      @media (min-width: 768px) {
        text-align: left;
      }

      @media (min-width: 1440px) {
        flex: 2;
      }
    }

    &--2 {
      @media (min-width: 768px) {
        text-align: center;
      }

      @media (min-width: 1440px) {
        flex: 2;
      }
    }

    &--3 {
      @media (min-width: 768px) {
        text-align: right;
      }

      @media (min-width: 1440px) {
        flex: 3;
      }
    }
  }
}
