// $section-border
.page-wrapper {
  display: flex;
  flex-direction: column;
  transition: .2s;

  &--hidden {
    opacity: .05;
  }

  @media (min-width: 1120px) {
    flex-direction: row;
  }
}

.page-menu {
  @media (min-width: 1120px) {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    box-sizing: border-box;
    border-right: $section-border;
    background: #FFF;
  }

  &__header {}

  &__navigation {
    display: none;
    flex-direction: column;
    max-height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    z-index: 1;

    @media (min-width: 1120px) {
      display: flex;
    }
  }
}
