// $text-regular-color
// $side-color
// $slide-menu-btn-color

// ============================== title-main
.page-description__title-main {}

.title-main {
  display: flex;
  padding-top: 24px;

  @media (min-width: 1120px) {
    padding-top: 42px;
  }

  &__side {
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    background: $side-color;
    border-radius: 0 5px 5px 0;
  }

  &__h1 {
    margin: 0;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: $text-regular-color;
  }

  &__wrap-btns {
    display: none;
    justify-content: flex-end;
    flex-grow: 1;

    @media (min-width: 1120px) {
      display: flex;
    }
  }

  &__btn-circle {
    background: transparent;
    margin-left: 32px;

    &:hover .btn-circle__wrap {
      border-color: #F8F8F8;
    }
  }
}

// ============================== slide-menu
// $text-light-color

.page-description__slide-menu {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slide-menu {
  display: flex;
  list-style: none;
  padding: 10px 0;
  overflow-x: scroll;

  @media (min-width: 1120px) {
    overflow: hidden;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 0;
  }

  &__item {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  &__item:not(:last-of-type) {
    margin-right: 8px;
  }

  &__first-item {
    padding-left: 16px; // padding потому-что margin правого item выпадает

    @media (min-width: 768px) {
      padding-left: 24px;
    }

    @media (min-width: 1120px) {
      padding-left: 0;
    }
  }

  &__last-item {
    padding-right: 16px;

    @media (min-width: 768px) {
      padding-right: 24px;
    }

    @media (min-width: 1120px) {
      padding-right: 0;
    }
  }

  &__btn {
    // height: 44px;
    font-family: TTLakes;
    font-size: 16px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: $text-light-color;
    padding: 8px 16px;
    border: 2px solid $main-background;
    border-radius: 6px;
    background: $main-background;
    box-sizing: border-box;
    transition: .2s;
  }

  &__btn:hover,
  &__btn:focus {
    border-color: $slide-menu-btn-color;
    background: #FFFFFF;
  }

  &__side {
    $btn-height: 44px;
    $item-margin: 3px + 3px;
    $side-height: $btn-height + $item-margin;

    width: 20px;
    height: $side-height;
    position: absolute;

    @media (min-width: 1120px) {
      display: none;
    }

    &--right {
      background: linear-gradient(to right, transparent, $main-background 80%);
      right: 0;
    }

    &--left {
      background: linear-gradient(to left, transparent, $main-background 80%);
      left: 0;
    }
  }
}

// ============================== content
.page-description__content {}

.content {
  display: flex;
  flex-direction: column;
  color: $text-regular-color;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__half-part {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:last-of-type {
      margin-left: -16px;
      margin-right: -16px;

      @media (min-width: 768px) {
        margin-left: 34px;
        margin-right: 0px;
      }
    }
  }

  //////// text
  &__text {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 4px 0 16px;
  }

  &__fst-paragraph {}

  &__snd-paragraph {
    display: none;

    @media (min-width: 768px) {
      display: inline;
    }
  }

  &__span {
    display: none;

    @media (min-width: 1120px) {
      display: inline;
    }
  }

  &--hidden {
    display: inline;
  }

  ////////  ////////
  &__expand-btn {
    align-self: flex-start;
    margin-bottom: 16px;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    background: url(../img/expand-down.svg) no-repeat;
    border: 1px solid transparent;
    transition: .3s;

    @media (min-width: 1120px) {
      // display: none;
    }
    &--hidden {
      background: url(../img/expand-up.svg) no-repeat;
    }

    &:hover,
    &:focus {
      border-top-color: $slide-menu-btn-color;
    }
  }

  &__img {
    width: 100%;
  }
}
