.page-container {
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: 768px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (min-width: 1120px) {
    padding-right: 34px;
    padding-left: 34px;
  }

  &--static {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  transition: .2s;

  &--hidden {
    // opacity: .05;
  }

  @media (min-width: 1120px) {
    flex-direction: row;
  }
}

