// $section-border
.page-menu {
  @media (min-width: 1120px) {
    display: flex;
    flex-direction: column;
    // min-height: 100%;
    box-sizing: border-box;
    border-right: $section-border;
    background: #FFF;
  }

  &__header {}

  &__navigation {
    display: none;
    flex-direction: column;
    min-width: 100%;
    max-height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    z-index: 1;

    @media (min-width: 1120px) {
      display: flex;
    }
  }
}
