.popup-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  transform: translate(-100%);

  width: 100%;
  min-width: 320px;
  border-right: $section-border;
  box-sizing: border-box;
  background: #FFF;
  transition: .3s;

  @media (min-width: 360px) {
    width: 320px;
  }

  &--visible {
    transform: translate(0%);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 88px;
    background: #FFF;
    box-sizing: border-box;

    &__logo {
      margin-left: 16px;
      transition: .2s;

      &:hover,
      &:focus {
        opacity: .8;
        transform: scale(1.05);
      }
    }

    &__block-grow {
      flex-grow: 1;
    }
  }

  &__btn-circle:not(:first-of-type) {
    margin-left: 16px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 950px;
    flex-grow: 1;
    box-sizing: border-box;

    &__contacts {
      padding: 0 24px;
    }
  }

}
