$main-background: #F8F8F8; // основной цвет фона
// $main-background: rgb(194, 194, 194); // основной цвет фона
$buttons-color: #FF3E79; // цвет кнопок
$text-regular-color: #1B1C21;
$text-light-color: #7E7E82;
$section-border: 1px solid #D9FFF5;
$side-color: #41F6D7;
$slide-menu-btn-color: #B8FFEC;
$red: 2px solid red;

@import 'normalize.scss';
// Blocks
@import 'page-containers.scss';
@import 'btn-circle.scss';
@import 'content-title.scss';
// @import 'mySlider.scss';
// popups
@import 'popup-menu.scss';
@import 'popup-feedback.scss';
@import 'popup-call.scss';
// direction wrapper
@import 'page-menu_page-wrapper.scss';
// page-menu
@import 'header.scss';
@import 'nav-menu.scss';
// Page description
@import 'page-description.scss';
// Brands
@import 'brands.scss';
// Devises
@import 'devises.scss';
// Price
@import 'prices.scss';
// Footer
@import 'footer.scss';


@font-face {
  font-family: TTLakes;
  src: url(../fonts/TTLakes-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: TTLakes;
  src: url(../fonts/TTLakes-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: TTLakes;
  src: url(../fonts/TTLakes-Bold.woff);
  font-weight: bold;
}

/* CONTAINERS START */
html {
  overflow-x: hidden;
}

a,
a:focus,
button,
button:focus {
  outline-width: 0;
}

body {
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  font-family: TTLakes;
  background: $main-background;
}

.main {
  flex-grow: 1;
  background: $main-background;
  position: relative;
}
