$main-background: #F8F8F8; // основной цвет фона
$main-background: rgb(194, 194, 194); // основной цвет фона
$buttons-color: #FF3E79; // цвет кнопок
$text-regular-color: #1B1C21;
$text-light-color: #7E7E82;
$section-border: 1px solid #D9FFF5;
$side-color: #41F6D7;
$slide-menu-btn-color: #B8FFEC;
$red: 2px solid red;
// $border-buttons: 
// $outlines:

@import 'normalize.scss';
// Blocks
@import 'page-containers.scss';
@import 'btn-circle.scss';
@import 'content-title.scss';
// Header
@import 'header.scss';
@import 'nav-menu.scss';
// Page description
@import 'page-description.scss';
// Brands
@import 'brands.scss';

// Devises
// Price
// Footer
@font-face {
  font-family: TTLakes;
  src: url(../fonts/TTLakes-Regular.woff),
    url(../fonts/TTLakes-Medium.woff),
    url(../fonts/TTLakes-Bold.woff);
}

/* CONTAINERS START */
body {
  min-width: 320px;
  font-family: TTLakes;
  background: $main-background;
  background: #FFF;
}

.main {
  background: $main-background;
  position: relative;

  &__slide-menu {
    margin: 4px -16px;
  }

  @media (min-width: 720px) {
    &__slide-menu {
      margin: 8px -24px;
    }
  }

  @media (min-width: 1120px) {
    &__slide-menu {
      overflow: hidden;
      margin: 8px 0px;
      flex-wrap: wrap;
    }
  }
}

.text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0 0 16px;
}

.expand {
  margin-bottom: 16px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  background: url(../img/expand.svg) no-repeat;
  border: none;
}


.text--hidden,
.span--hidden {
  display: none;
}

@media (min-width: 330px) {}

@media (min-width: 720px) {}

@media (min-width: 1120px) {
  .slide-menu__item:not(:last-of-type) {
    margin-right: 8px;
  }

  .slide-menu__first-item {
    margin-bottom: 8px;
    padding-left: 0px;
  }

  .slide-menu__last-item {
    padding-right: 0px;
  }
}
